# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives
#### List popular languages for Data Science.
3. JUlia
4. Matlab
5. SQL

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Matlab

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn
4. Matplotlib
5. Tensorflow

|## Data Science Tools  |
|Jupyter notebook|
|R studio|
|Apache hadoop|

|Data Science Tools|
|JUpyter Notebook|
|R Studio|
|Apache Hadoop|

|Data Science Tools|
|-----------------|
|Jupyter Notebok|
|R Studio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
### Vivek Katre